{% extends 'layout/base.html' %}

{% block context %}
<div style=" padding: 20px"> </div>
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>View all Student Records </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>                
                <!-- <a href="javascript:;" class="remove"> </a> -->
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Adm No. </th>
                            <th> Adm Date </th>
                            <th> Name </th>
                            <th> Gender </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in data %}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td> {{ record.admission_number }} </td>
                            <td> {{ record.admitted_on }} </td>
                            <td> {{ record.user.first_name }} {{ record.user.last_name }} </td>
                            <td> {{ record.user.gender }} </td>
                            <td style="text-align: center;"> <a href=""> <i class="fa fa-edit" aria-hidden="true"></i> </a> </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}