{% extends 'layout/base.html' %}

{% block context %}
<div style=" padding: 20px"> </div>
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>View all Staff Type Records </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>                
                <!-- <a href="javascript:;" class="remove"> </a> -->
            </div>
        </div>
        <div class="portlet-body">
            {% if error_message %}
                <div class="row"><div class="col-md-12"><br><div class="alert alert-danger" role="alert">{{error_message}}</div></div></div>
            {% else %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Name </th>
                            <th> Created By </th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                            <td> {{ forloop.counter }} </td>
                            <td> {{ record.name }} </td>
                            <td> {{ record.created_by }} </td>
                            <td> {{record.deleted_status}} </td>                            
                            <td style="text-align: center;"> <a href="{% url 'staff:update-staff-type' record.id %}"> <i class="fa fa-edit" aria-hidden="true"></i> </a> </td>
                            <td style="text-align: center;"> <a href="{% url 'staff:delete-staff-type' record.id %}"> <i class="fa fa-trash" aria-hidden="true"></i> </a> </td>
                            <td style="text-align: center;"> <a href="{% url 'audit:view-audit-for-staff-type' record.id %}"> <i class="fa fa-hdd-o" aria-hidden="true"></i> </a> </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}